
body{
    background-color: hsl(212, 45%, 89%);
}

*{box-sizing: border-box;}
.box1 {
  width: 450px;
  height: 700px;
  background-color: white;
  margin-top: 100px;
  margin-left: 720px;


  box-sizing: border-box;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 10px 30px rgba(0,0,0,0.3);
}


*{box-sizing: border-box;}
.box2 {
  width: auto;
  height: 430px;
  margin: 10px;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 10px 30px rgba(0,0,0,0.3);
  
}



p { 
   text-align: center; 
   font-size: 15px;
   font-family: Outfit;
   padding: 20px;
   color: hsl(216, 15%, 48%);
} 

img {
    width: 430px;
    height: auto;
}

h1 {
    font-family: Outfit;
    font-size: 35px;
    text-align: center;
    
}